<%- include("partials/header") -%>
<h1 class="h1">Contact</h1>
<p><%=myContactParagraph%> <a href="mailto:thereseskaar@hotmail.com">thereseskaar@hotmail.com</a></p>


<%- include("partials/footer") -%>
